.constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 16px;
  width: 600px;
  height: auto;
  max-height: 812px;
  min-height: 100px;
  border-radius: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  align-self: flex-start;
  margin-top: 50px;
}

.hover {
  background-color: rgba(47, 47, 55, 0.2);
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  max-height: 550px;
  overflow-y: auto;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-track {
  background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
  background: #8585AD;
  border-radius: 4px;
}

.bun {
  margin: 0 16px;
}

.bun > div {
  background-color: #1C1C21;
}

.bun:first-child > div {
  border-radius: 88px 88px 40px 40px;
}

.bun:last-of-type > div {
  border-radius: 40px 40px 88px 88px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 24px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 48px;
}

.price svg {
  width: 33px;
  height: 33px;
}

.dragIcon {
  cursor: grab;
  display: flex;
  align-items: center;
}

.elementWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
} 