.constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  max-width: 600px;
  width: 100%;
  min-height: 100px;
  border-radius: 8px;
  background-color: #1C1C21;
  transition: background-color 0.3s ease;
}

.hover {
  background-color: #2F2F37;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  max-height: calc(100vh - 536px);
  overflow-y: auto;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-track {
  background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
  background: #8585AD;
  border-radius: 4px;
}

.bun {
  margin: 0 16px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 24px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price svg {
  width: 33px;
  height: 33px;
} 