.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 88px);
}

.title {
  font-size: 120px;
  margin-bottom: 20px;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
  transition: opacity 0.3s;
}

.link:hover {
  opacity: 0.8;
} 