.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1C1C21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  z-index: 1000;
  min-width: 720px;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 0;
  min-height: 64px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.closeButton:hover {
  opacity: 0.8;
}

.content {
  padding: 0 40px 40px;
} 