.header {
  align-items: space-between;
    width: 100vw;
  background: #1C1C21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);

}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}

.leftGroup {
  display: flex;
  gap: 8px;
}

.tabContent {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

